<nav class="navbar navbar-expand-lg bg-white mb-1">
    <div class="container-fluid">
        <a class="navbar-brand ms-3"><img src="assets/logo.png" height="35px" width="35px" alt="V logo"></a>

        <div class="collapse navbar-collapse" size="30" id="navbarText">
            <form style="width:300px; margin: left 30%;">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">

                    <button class="inner" type="button">
                        <i class="fa fa-search"></i>

                    </button>
                </div>
            </form>


        </div>
        <div style="text-align:end;">
            <img class="me-3" src="/assets/logor.jpg" width="55px" height="40px" alt="AA sign logo">
        </div>
    </div>
</nav>


<main class="d-flex flex-nowrap text-bg-muted">


    <div class="d-flex flex-column card p-4 ms-3 text-bg-light mb-5" style="width: 250px; height: 615px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="mb-3"><i class="fs-4 fa-solid fa-user"></i>
                <span class="ps-3 "> <b>{{name}}</b></span>
            </li>

            <li class="colorblue mb-3"><i class="fs-4 fa fa-bell"></i>
                <span class="ps-3 "> <b>Notifications</b></span>
            </li>
            <hr class="colorblue">
            <br>

            <p><i class=" fa fa-home colorblue"></i><small class="ps-3">mirza international </small></p>

            <p> <i class=" fa fa-th-list colorblue"></i><small class="ps-3">mirza international </small>
                
            </p>
            <p> <i class="fa-solid fa-gear colorblue"></i><small class="ps-3">mirza international </small>
            </p>
            <br>

            <hr class="colorblue">


            <li><i class="fa fa-home mt-4 mb-4"></i>
                <span class="ps-3 "> <b>Home</b></span>
            </li>
            <li class="colorblue"><i class="fs-4 fa-solid fa-gear"></i>
                <span class="ps-3 "><b>Productions</b></span>
            </li>
            <br>
            <b>
                <hr class="colorblue">
            </b>
            <li class="colorblue ps-5"><b>Dying</b></li>
            <li class="colorblue ps-5"><b>finishing</b></li>
            <li class="ps-5"><b>Crusting</b></li>

            <li><i class="fs-4 fa fa-file-text mt-2"></i>
                <span class="ps-3 "><b>Report</b></span>
            </li>


            <li><i class="fs-4 fa fa-plane mt-2"></i>
                <span class="ps-3 "><b>Planing</b></span>
            </li>

            <li><i class="fs-4 fa fa-inr mt-2"></i>
                <span class="ps-3 "><b>Financess</b></span>
            </li>
            <br>
            <b>
                <hr class="colorblue">
            </b>
            <br>
            <li> <i class="
                    fa fa-angle-down"></i>
                <span class="ps-3 "><b>See More</b></span>
            </li>

        </ul>


    </div>

    <div class="b-example-vr"></div>
    <div>
        <div class="d-flex flex-column  card text-bg-light" style="width: 500px;  ">
            <div class="bg-white ps-2 mb-1">
                <span class="fs-5 fw-semibold colorblue ms-3"><b>Tasks</b></span>


                <div class="fs-5 ms-5">
                    <span class="colorblue"><b>Daily </b></span>

                    <span class="ps-5 ms-5"><b>Pending</b></span>

                    <span class="ps-5 ms-5"><b>Monthly</b></span>



                </div>



            </div>

            <hr>

            <div class="d-flex flex-column  card text-bg-white mb-3 mt-2 ms-2 " style="width: 480px; height:300px">
                
            </div>
            <div class="d-flex flex-column  card text-bg-white mb-3 mt-2 ms-2" style="width: 480px;  height:200px">
                
            </div>


        </div>
    </div>
    <div class="b-example-vr"></div>

    <div>
        <div class="d-flex flex-column card bg-light" style="width: 600px; height: 300px;">
            <a class="flex-shrink-0 p-3 link-dark text-decoration-none border-bottom bg-white">

                <span class="fs-5 fw-semibold colorblue "><b>Trends</b></span>
            </a>


        </div>

        <div class="d-flex flex-column card mt-2 bg-light " style="width: 600px; height: 308px; ">
            <a class="flex-shrink-0 p-3 link-dark text-decoration-none border-bottom bg-white">

                <span class="fs-5 fw-semibold colorblue "><b>Efficiency</b></span>
            </a>

        </div>

    </div>
</main>